* { 
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	background-color: dodgerblue;
}
header {
	margin-top: 35px;
	width: 100%
}

.logo {
	margin-right: auto;
	margin-left: auto;
	height: 35px;
	width: 75px;
	position: relative;

}

.logo_img {
	height: 35px;
	margin-right: auto;
	margin-left: auto;
}

.sign_up {
	background-color: white;
	padding-right: 40px;
	padding-left: 40px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	border-radius: 3px;
}

.sign_up>h1 {
	text-align: center;
	padding-top: 40px;
	font-weight: lighter;
	color: dimgrey;
	font-size: 36px;
}

label, button, .sign_up a {
	display: block;
	padding: 15px;
}

fieldset {
	border: 0;
	border-radius: 3px;
	font-size: 17px;
	position: relative;
}

input {
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px solid gainsboro;
	border-radius: 3px;
	margin-right: auto;
	margin-left: auto;
	font-size: 17px;
	font-weight: bold;
	background-color: ghostwhite;
	display: block;
}

button {
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 0;
	border-radius: 3px;
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #82D682;
}

.sign_up a {
	text-align: center;
	font-size: 15px;
	color: grey;
}

.log_in{
	width: 320px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.log_in p {
	text-align: center;
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	color: white;
}

.log_in a {
	color: white;
}

button:hover {
	background-image: none;
	background-color: forestgreen;
}